---
import BaseHeaders from "../components/baseheaders.astro";
import Header from "../components/header.astro";
import MainBody from "../components/mainbody.astro";
import Footer from "../components/footer.astro";
import { connection, connect } from "mongoose";

const uri = import.meta.env.dburi;
const options = {};

await connect(uri, options);

---

<html lang="en">
  <head>
    <BaseHeaders />
  </head>
  <body class="bg-background">
    <Header />
    <MainBody />
    <!-- <Footer /> -->
  </body>
</html>
