---
export const prerender = true;
---

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />
<meta name="generator" content={Astro.generator} />
<meta name="author" content="JadeBetty" />
<meta
  name="description"
  content="A simple URL shortener made with love by Jade"
/>


<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content=`JadeBetty - URL Shortener`  />
<meta property="twitter:image" content=`/images/banner.png` />



<title>JadeBetty - URL</title>
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap"
  rel="stylesheet"
/>
<link rel="icon" type="image/x-icon" href="/images/favicon.png" />


