---
export const prerender = true;
---
<footer class="text-text text-center mt-40 mb-20">
    <h2 class="text-xl pt-3">JadeBetty</h2>
    <p class="text-base pt-3">© 2023 - JadeBetty</p>
    <a href="https://github.com/JadeBetty/portfolio" class="underline hover:text-[#4EC2A7] hover:scale-110 active:scale-90 ease-in-out">Github</a>
</footer>
