---
export const prerender = true;
---
<header class="text-text m-auto flex flex-col pt-8 w-52 lg:flex-row lg:w-[75rem]" id="headers">
  <div>
    <a href="/" class="flex items-center gap-3 text-2xl">
      <img src="/images/favicon.png" class="w-[50px] rounded-full lg:hidden" />
      JadeBetty
    </a>
  </div>

  <div class="mt-1 flex text-base lg:ml-auto">
    <a href="/" class="underline transition-all duration-300 ease-in-out hover:scale-110 active:scale-90">Home</a>
    <a href="https://jadebetty.me" target="_blank" class="ml-5 transition-all duration-300 ease-in-out hover:scale-110 hover:underline active:scale-90">Portfolio</a>
    <a href="https://github.com/JadeBetty/url-shortener" target="_blank" class="ml-5 transition-all duration-300 ease-in-out hover:scale-110 hover:underline active:scale-90">Github</a>
  </div>
</header>
