---
import Generate from "./script.astro"
export const prerender = true;
---

<div
  id="body"
  class="text-text max-w-[20rem] pt-[10rem] m-auto flex lg:pt-[15rem] lg:max-w-[75rem] items-center justify-center"
>
  <div class="">
    <h1 class="text-center text-3xl pb-12">
      <span class="text-[#4ec2a7]">URL</span> Shortener
    </h1>
    <div class="flex flex-col m-auto items-center md:flex-row">
      <input
        type="text"
        placeholder="Type in your link here..."
        class="placeholder:text-[#a8a8a6] bg-[#12130e] h-[51px] w-[300px] rounded-full text-center mb-5 outline-none md:ml-5 p-5"
        ,
        id="input-link"
      />
      <button id="generateButton"
        ><img
          src="/images/arrow.svg"
          class="md:ml-5 w-[45px] h-8 mb-4 rotate-90 md:rotate-0"
        /></button
      >
      <div
        class="text-text bg-[#12130e] h-[51px] w-[300px] rounded-full text-center items-center flex justify-center mb-5 md:ml-5"
      >
        <p id="link-p">https://links.jadebetty.me/12345</p>
      </div>
    </div>
    <div class="flex text-center justify-center">
      <p class="text-red-500 hidden" id="hidden-text">
        Invalid link, please try again
      </p>
      <p class="text-red-500 hidden" id="timeout-text">
        Please wait for 20 seconds until you can generate another link.
      </p>
    </div>
    <Generate />
  </div>
</div>
