---

---

<div
  id="body"
  class="text-text max-w-[20rem] pt-[10rem] m-auto flex lg:pt-[15rem] lg:max-w-[75rem] items-center justify-center"
>
  <!-- <div class="flex pt-8 items-center justify-center">
    <h1>
      Nothing shown yet lol, url shortener is currently being designed by
      JadeBetty, wait for a few years pls
    </h1>
  </div> -->

  <div class="">
    <h1 class="text-center text-3xl pb-12">
      <span class="text-[#4ec2a7]">URL</span> Shortener
    </h1>
    <div class="flex flex-row m-auto items-center">
      <input
        type="text"
        placeholder="Type in your link here..."
        class="placeholder:text-[#a8a8a6] bg-[#12130e] h-[51px] w-[300px] rounded-full text-center ml-5"
      />
      <img src="/images/arrow.png" class="ml-5 w-[45px] h-8 mt-2"/>
      <div
        class="text-[#a8a8a6] bg-[#12130e] h-[51px] w-[300px] rounded-full text-center items-center flex justify-center ml-5"
      >
        <p>https://links.jadebetty.me/123456</p>
      </div>
    </div>

    <!-- <button id="generateId">hey there</button> -->
    <script>
      const get = async () => {
        const link = "https://youtube.com";
        await fetch("/api/generate", {
          method: "POST",
          body: JSON.stringify({ link: link }),
          headers: { "Content-Type": "application/json" },
        });
      };

      const generateButton = document.getElementById("generateId");
      generateButton.addEventListener("click", get);
    </script>
  </div>
</div>
