---

---

<div
  id="body"
  class="text-text max-w-[20rem] pt-[10rem] m-auto flex lg:pt-[15rem] lg:max-w-[75rem] items-center justify-center"
>
  <!-- <div class="flex pt-8 items-center justify-center">
    <h1>
      Nothing shown yet lol, url shortener is currently being designed by
      JadeBetty, wait for a few years pls
    </h1>
  </div> -->

  <div class="">
    <h1 class="text-center text-3xl pb-12">
      <span class="text-[#4ec2a7]">URL</span> Shortener
    </h1>
    <div class="flex flex-col m-auto items-center md:flex-row">
      <input
        type="text"
        placeholder="Type in your link here..."
        class="placeholder:text-[#a8a8a6] bg-[#12130e] h-[51px] w-[300px] rounded-full text-center mb-5 outline-none md:ml-5 p-5"
        ,
        id="input-link"
      />
      <button id="generateButton"
        ><img
          src="/images/arrow.png"
          class="md:ml-5 w-[45px] h-8 mb-3 rotate-90 md:rotate-0"
        /></button
      >
      <div
        class="text-text bg-[#12130e] h-[51px] w-[300px] rounded-full text-center items-center flex justify-center mb-5 md:ml-5"
      >
        <p>https://links.jadebetty.me/123456</p>
      </div>
    </div>
    <div class="flex text-center justify-start pl-16">
      <p class=" text-red-500" id="hidden-text">
        Invalid link, please try again
      </p>
    </div>


    <!-- <button id="generateId">hey there</button> -->
    <script>
      const urlPattern =
            /^((http|https):\/\/)?[a-z0-9-]+(\.[a-z0-9-]+)+([/?].*)?$/i;
      const get = async () => {
        const link = document.getElementById("input-link").value;
        if (!urlPattern.test(link)) {
          document.getElementById("hidden-text").classList.remove("hidden");
          return;
        } else {
          document.getElementById("hidden-text").classList.add("hidden");
        }

        try {
          await fetch("/api/generate", {
            method: "POST",
            body: JSON.stringify({ link: link }),
            headers: { "Content-Type": "application/json" },
          });
        } catch (e) {}
      };

      const generateButton = document.getElementById("generateButton");
      generateButton.addEventListener("click", get);

      document
        .querySelector("#input-link")
        .addEventListener("input", function (e) {
          
          if (this.value === "" || urlPattern.test(this.value)) {
            document.getElementById("hidden-text").classList.add("hidden");
          }
        });
    </script>
  </div>
</div>
