---
import Socialsbar from "./socialsbar.astro";
const get = async (link) => {

}
---

<div
  id="body"
  class="text-text max-w-[20rem] pt-[10rem] m-auto flex lg:pt-[15rem] lg:max-w-[75rem] items-center justify-center"
>
  <div class="flex pt-8 items-center justify-center">
    <!-- <p id="hello-text" class="text-xl font-medium lg:text-2xl lg:w-[800px]">
      URL <span class="underline text-[#4EC2A7] underline-offset-8"
        >Shortener</span
      >
    </p> -->
    <!-- <p
      id="description"
      class="font-[550] mt-[0.75rem] text-sm max-w-md mb-[1rem] md:text-md"
    >
      A self taught programmer who knows his way into JavaScript.
      <br />
      <br />
      I'm a junior-high school programmer who is interested in computers, with games
      like Uncharted 4 being my favorite.
      <br />
      <span class="text-xs font-light">I use Windows, btw</span>
    </p> -->
    <!-- <Socialsbar /> -->

    <h1>Nothing shown yet lol, url shortener is currently being designed by JadeBetty, wait for a few years pls </h1>
    <button onclick="  await fetch("/api/generate", {
      method: "POST",
      body: JSON.stringify({
        link: link
      }),
      headers: {
        "Content-Type": "application/json"
      }
    })">hey there</button>
  </div>
</div>
